{%extends 'commonContent.html' %} {% load static %} {% block contentViews%}

<div class="container">
  <div class="section p-4">
    <h2 class="w-100 text-center">About Me</h2>
    <div>
      <div class="p-4">
        <h3>
          Hola, mi nombre es Dariel Cano González, soy cubano residente en
          México
        </h3>
        <p style="font-size: 1.4rem">
          Soy graduado de la carrera
          <strong
            >Ingeniería en Telecomunicaciones y Electrónica en la Universidad
            Central Martha Abreu de Las Villas</strong
          >
          en Cuba. Después de trabajar varios años en una empresa relacionada
          con mi carrera, apliqué a una
          <strong
            >Maestría en Ciencias en Ingeniería Electrónica en el Instituto
            Tecnológico de Celaya, Guanajuato</strong
          >.
        </p>
        <p style="font-size: 1.4rem">
          Allí, descubrí mi pasión por la <strong>programación</strong>, ya que
          en mi desarrollo de la tesis tuve que programar en
          <strong>lenguaje C</strong> y trabajar con
          <strong>FPGA y VHDL</strong>. A partir de allí, tomé cursos en
          <strong>CoderHouse</strong> enfocados en este tema, como el de
          <strong>Desarrollo Front End React</strong> . En él aprendí
          <strong>HTML, CSS y JavaScript</strong>, para poder adentrarme en
          <strong>React</strong>. Luego, empíricamente aprendí
          <strong>MongoDB</strong> y <strong>Node JS</strong> para realizar
          <strong>APIs Rest con Javascript</strong> en el Backend.
        </p>
        <p style="font-size: 1.4rem">
          Después de culminar en el top 10, y haber realizado un proyecto real,
          me decidí por aprender algo de <strong>Python</strong>, lenguaje que
          en un inicio quise aprender para aplicarlo a mi tesis. Me encuentro en
          constante aprendizaje, y trato de emplear algo de tiempo en ello a
          pesar de tener una barbería como negocio particular. Fue un placer y
          una experiencia inolvidable tomar este curso, ahora a seguir
          aprendiendo. Muchas gracias.
        </p>
      </div>
    </div>
  </div>

  {% endblock%}
</div>
