{%extends 'commonContent.html' %} {% load static %} {% block contentViews%}

<div class="container">
  <div class="section">
    <h2>Profile</h2>
    <div class="container">
      <div>
        {% if url %}
        <img height="480px" src="{{url}}" alt="" />
        {% else %}
        <img height="480px" src="../../media/avatars/avatar.webp" alt="" />
        {% endif %}
        <h4>{{user.username}}</h4>
      </div>
      <div>
        <p><strong>Name: </strong>{{user.first_name}}</p>
        <p><strong>Last Name: </strong>{{user.last_name}}</p>
        <p><strong>Email: </strong>{{user.email}}</p>
      </div>

      <div>
        <button><a href="{% url 'update_profile' %}">Edit Profile</a></button>
        <button><a href="{% url 'avatar' %}">Edit Avatar</a></button>
      </div>
    </div>
  </div>

  {% endblock%}
</div>
