{%extends 'commonContent.html' %} {% load static %} {% block contentViews%}

<div class="container">
  <div class="section">
    <div class="container text-center p-4">
      <h2 class="p-2">Profile</h2>
      <div>
        {% if url %}

        <img
          height="250px"
          width="250px"
          style="border-radius: 50%"
          src="{{url}}"
          alt=""
        />
        {% else %}
        <img height="480px" src="../../media/avatars/avatar.webp" alt="" />
        {% endif %}
        <h2 class="pt-4">{{user.username}}</h2>
      </div>
      <div>
        <p><strong>Name: </strong>{{user.first_name}}</p>
        <p><strong>Last Name: </strong>{{user.last_name}}</p>
        <p><strong>Email: </strong>{{user.email}}</p>
      </div>

      <div>
        {% if user.username != "admin"%}
        <button class="btn btn-info">
          <a
            class="text-white"
            href="/app/update/"
            style="font-size: 1.5rem; text-decoration: none"
            >Edit Profile</a
          >
        </button>
        {% endif%}
        <button class="btn btn-info">
          <a
            class="text-white"
            href="/app/avatar/"
            style="font-size: 1.5rem; text-decoration: none"
            >Edit Avatar</a
          >
        </button>
      </div>
    </div>
  </div>

  {% endblock%}
</div>
